.pad-top {
  padding-top: 5rem;
}

@media only screen and (max-width: 56.25em) {
  .pad-top {
    padding-top: 2rem;
  }
}

.y-center {
  padding-bottom: 8rem;
}

@media only screen and (max-width: 56.25em) {
  .y-center {
    padding-bottom: 4rem;
  }
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 64.75em) {
  html {
    font-size: 50%;
  }
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

.bg-blue {
  background-color: #f9f8fe;
}

.end {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.m-bottom {
  padding-bottom: 10%;
}

@media only screen and (max-width: 56.25em) {
  .m-bottom {
    padding-bottom: 5%;
  }
}

#bottom {
  background-color: #585989;
  padding: 10rem 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 56.25em) {
  #bottom {
    padding: 5rem 6rem;
  }
}

@media only screen and (max-width: 50em) {
  #bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  background-color: #070439;
  padding: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 56.25em) {
  .footer {
    padding: 3rem 6rem;
  }
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 6rem;
}

@media only screen and (max-width: 50em) {
  #header {
    padding: 2rem 3rem;
  }
}

.nav__link,
.nav__link:link,
.nav__link:visited {
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  color: #585989;
  -webkit-transition: all .2s;
  transition: all .2s;
  font-weight: bold;
  transition: all .2s;
}

.nav__link:hover,
.nav__link:link:hover,
.nav__link:visited:hover {
  color: #070439;
}

.nav__items {
  list-style: none;
}

.logo {
  display: block;
}

@media only screen and (max-width: 50em) {
  .logo {
    width: 20%;
  }
}

.content {
  line-height: 1.3;
  color: #070439;
  font-weight: 400;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [full-start] 6rem [center-start] ([col-start] 1fr [col-end])[2] [center-end] 6rem [full-end];
      grid-template-columns: [full-start] 6rem [center-start] repeat(2, [col-start] 1fr [col-end]) [center-end] 6rem [full-end];
}

.content__box {
  grid-column: center-start / col-end 1;
}

@media only screen and (max-width: 50em) {
  .content__box {
    padding-top: 3rem;
    grid-column: center-start/ center-end;
  }
}

.content__h2 {
  padding-bottom: 3rem;
  font-size: 3.8rem;
  font-family: "Raleway", sans-serif;
  color: #070439;
  font-weight: 700;
}

@media only screen and (max-width: 50em) {
  .content__h2 {
    text-align: center;
  }
}

.content__p {
  padding-bottom: 2rem;
  font-size: 2rem;
}

@media only screen and (max-width: 50em) {
  .content__p {
    text-align: center;
  }
}

.content__hero {
  grid-column: col-start 2 / center-end;
  width: 100%;
}

@media only screen and (max-width: 50em) {
  .content__hero {
    grid-column: center-start/ center-end;
  }
}

.content img[src="images/illustration-1.svg"] {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.content img[src="images/illustration-2.svg"] {
  width: 100%;
  display: block;
}

@media only screen and (max-width: 50em) {
  .content img[src="images/illustration-2.svg"] {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
}

.content__top-img {
  grid-column: full-start / full-end;
  width: 100%;
  border: none;
  margin-top: 8rem;
}

@media only screen and (max-width: 50em) {
  .content__top-img {
    margin-top: 7rem;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
}

@media only screen and (max-width: 50em) {
  .content__box2 {
    padding-top: 3rem;
    grid-column: center-start/ center-end;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
  }
}

@media only screen and (max-width: 50em) {
  .content__box1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

.content__col-end {
  grid-column: center-end / -1;
}

@media only screen and (max-width: 50em) {
  .content__col-end {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4 / 6;
  }
}

.content__col-start {
  grid-column: full-start / center-start;
}

@media only screen and (max-width: 50em) {
  .content__col-start {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4 /6;
  }
}

.email {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 1.7rem;
  width: 100%;
}

@media only screen and (max-width: 50em) {
  .email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.email__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.email__input {
  font-family: inherit;
  font-size: 1.4rem;
  width: 100%;
  padding: 1.4rem;
  outline: none;
  border: 1px solid #585989;
  border-radius: 4px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.email__input:focus {
  outline: none;
  border: 1px solid #070439;
  color: black;
}

.btn {
  outline: none;
  border: none;
  background-color: #3065f8;
  text-decoration: none;
  padding: 1.2rem 4rem;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
}

.btn:hover {
  background-color: rgba(48, 101, 248, 0.85);
}

.btn-inline {
  position: relative;
}

.btn-inline::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  top: 3px;
  background-image: url(../images/icon-arrow.svg);
  background-size: cover;
}

.btn-inline:link, .btn-inline:visited {
  text-decoration: none;
  color: #3c9f8f;
}

.btn-inline:hover {
  text-decoration: none;
  color: #265049;
}

.quat {
  background-color: white;
  -webkit-box-shadow: 0 0 1.5rem 0.2rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 1.5rem 0.2rem rgba(0, 0, 0, 0.25);
  width: 60%;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  word-spacing: 2px;
  padding: 4rem 3.5rem;
}

@media only screen and (max-width: 50em) {
  .quat {
    width: 80%;
    margin: 3rem auto;
    padding: 6rem;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 35em) {
  .quat {
    width: 95%;
    margin: 1rem auto;
    padding: 3rem;
    font-size: 2rem;
  }
}

.quat > :first-child::before {
  content: '\201C	';
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  top: -2.5rem;
  font-size: 3.2rem;
  font-weight: 600;
  width: 3rem;
  height: 3rem;
}

.quat__text {
  position: relative;
}

.quat__author {
  margin-top: 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quat__author ul {
  list-style: none;
  margin-left: 2rem;
}

.quat__img {
  width: 5rem;
  border-radius: 50%;
}

.quat__name {
  font-size: 1.6rem;
}

@media only screen and (max-width: 50em) {
  .quat__name {
    font-size: 1.8rem;
    font-weight: bold;
  }
}

.quat__info {
  font-weight: 400;
  font-size: 1.2rem;
}

@media only screen and (max-width: 50em) {
  .quat__info {
    font-size: 1.5rem;
  }
}

.bottom__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

@media only screen and (max-width: 50em) {
  .bottom__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center;
  }
}

.bottom__h2 {
  padding-bottom: 1rem;
  font-size: 3.4rem;
  font-family: "Raleway", sans-serif;
  color: #f6f6fe;
  font-weight: 700;
}

@media only screen and (max-width: 50em) {
  .bottom__h2 {
    font-size: 2.6rem;
    padding-bottom: 2rem;
  }
}

.bottom__p {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #f6f6fe;
  line-height: 1.5;
}

@media only screen and (max-width: 50em) {
  .bottom__p {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}

.bottom__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

@media only screen and (max-width: 50em) {
  .bottom__right {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    width: 75%;
  }
}

.footer {
  font-size: 1.4rem;
  color: white;
  list-style: none;
}

.footer__logo {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.footer__phone, .footer__email {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2;
}

@media only screen and (max-width: 50em) {
  .footer__phone, .footer__email {
    line-height: 3;
  }
}

.footer__phone img, .footer__email img {
  margin-right: 2rem;
}

.footer__phone span, .footer__email span {
  display: inline-block;
}

@media only screen and (max-width: 50em) {
  .footer__phone span, .footer__email span {
    font-size: 2rem;
  }
}

.footer__list {
  list-style: none;
}

@media only screen and (max-width: 50em) {
  .footer__list {
    margin: 1.8rem 0;
    font-size: 2rem;
  }
}

.footer__item {
  cursor: pointer;
  line-height: 2;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.footer__item:hover {
  color: #bfbfbf;
}

@media only screen and (max-width: 50em) {
  .footer__item:hover {
    color: currentColor;
  }
}

.footer__info {
  margin: 3rem 0;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 50em) {
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 50em) {
  .footer__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__link:not(:last-child) {
  margin-right: 1rem;
}

.footer__link, .footer__link:link, .footer__link:visited {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  text-decoration: none;
  border: 1px solid #f6f6fe;
  width: 2.5rem;
  height: 2.5rem;
  padding: 1.3rem;
  color: #f6f6fe;
  font-size: 1.6rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.footer__link:hover {
  color: #bfbfbf;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media only screen and (max-width: 50em) {
  .footer__link:hover {
    -webkit-transform: none;
            transform: none;
    color: currentColor;
  }
}

.footer__copyright {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer__copyright a, .footer__copyright a:link, .footer__copyright a:visited {
  text-decoration: none;
  color: #585989;
}

.footer__copyright a:hover {
  -webkit-transition: all .2s;
  transition: all .2s;
  color: #bfbfbf;
}
/*# sourceMappingURL=main.css.map */