// var//
$color-primary-1:#070439;
$color-primary-2:hsl(238, 22%, 44%);

$color-bright-blue: hsl(224, 93%, 58%);
$color-moderate-Cyan: hsl(170, 45%, 43%);
$color-moderate-Cyan-1: hsl(170, 36%, 23%);


$color-light-Blue: hsl(240, 75%, 98%);
$color-light-Gray: hsl(0, 0%, 75%);

$font-body:'Open Sans', sans-serif;
$font-display: 'Raleway', sans-serif;
/// break points ////
$larg:64.75em;
$medium:56.25em;
$small:50em;



//// utilities ////

.pad-top{
    padding-top: 5rem;
    @media only screen and (max-width:$medium){
        padding-top: 2rem;
    }

}
.y-center{
    padding-bottom: 8rem;
    @media only screen and (max-width:$medium){
        padding-bottom: 4rem;

    }
}

html{
    font-size: 62.5%;
    box-sizing: border-box;

    @media only screen and (max-width:$larg){
        font-size:50%;
    }
    

}
*,*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    font-weight: 400;
    font-family: $font-body;
    line-height: 1.5;

}
.bg-blue{
    background-color: rgb(249, 248, 254);
}
.end{
    align-self: end;
}
.m-bottom{
    padding-bottom: 10%;
    @media only screen and (max-width:$medium){
        padding-bottom: 5%;

    }
}

#bottom{
    background-color: $color-primary-2;
    padding: 10rem 6rem;
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width:$medium){
        padding: 5rem 6rem;

    }
    @media only screen and (max-width:$small){
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

}

.flex{
    flex-direction: column;
}
.footer{
    background-color: $color-primary-1;
    padding: 6rem;
    display: flex;
    flex-direction: column;
    @media only screen and (max-width:$medium){
        padding: 3rem 6rem;


    }

}